name: RSI Cron Job

on:
  schedule:
    - cron: "*/5 * * * *"   # her 5 dakikada bir test
  workflow_dispatch:        # manuel çalıştırma butonu

jobs:
  run-script:
    runs-on: ubuntu-latest

    steps:
      - name: Repo çek
        uses: actions/checkout@v3

      - name: Python kur
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Paketleri yükle
        run: pip install -r requirements.txt

      - name: Script çalıştır
        run: python app_render.py
