name: RSI Bot Hourly

on:
  workflow_dispatch:  # Manuel tetikleme
  schedule:
    # UTC 03:00–20:30 arası her yarım saatte bir (Türkiye 08:00–19:00)
    - cron: '0,30 5-16 * * *'

env:
  TELEGRAM_TOKEN: "8541248285:AAFBU1zNp7wtdrM5tfUh1gsu8or4HiQ1NJc"
  CHAT_ID: "1863652639"

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run RSI Bot
        run: |
          echo "[INFO] RSI bot başlatılıyor..."
          python app_render.py
